#scrolly {
    position: relative;
    background-color: #ffffff;
    padding: 1rem;
    width: 100%;
    box-sizing: border-box;
}

article {
    position: relative;
    padding: 0;
    /* max-width: 20rem; */
    /* margin: 0 auto; */
}

figure {
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 1rem;
    width: 100%;
    margin: 0;
    background-color: #8a8a8a;
    z-index: 0;

}

figure p {
    text-align: center;
    padding: 1rem;
    position: absolute;
    opacity: 0;
    font-size: 2rem;
    color: #000000;

}

figure img {
    opacity: 0;
}

figure p.is-current {
    opacity: 1;
}

.step-content {
    position: relative;
    width: 100%;
}

.left-location,
.right-location {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.left-location {
    left: 0%;
    width: 800px;
}

.right-location {
    right: 10%;
}

/* figure img.is-current {
    opacity: 1;
} */

.spacer {
    margin: 0;
    color: #ffffff;
    background-color: rgba(95, 68, 68, 0);
    opacity: 0;
    /* Centering <p> within <div> */
    /*     display: flex;
    justify-content: center;
    align-items: center; */
    outline: 10px solid red;
}

.step {
    margin: 0;
    color: #ffffff;
    background-color: rgba(95, 68, 68, 0);
    opacity: 1;
    /* Centering <p> within <div> */
    /* display: flex;
    justify-content: center;
    align-items: center; */
    outline: 10px solid red;
}

.step:last-child {
    margin-bottom: 5rem;
    /* I'm sure there's a way to programatically center the last child, but this works for now.*/
    opacity: 1;
}

.step.is-fading-in p {
    /* background-color: goldenrod;
    color: #3b3b3b; */
    position: sticky;
    place-items: center;
    top: 50%;
    /* transform: translateY(-50%); */
    margin: 0;
}

.step.is-active p {
    background-color: goldenrod;
    color: #3b3b3b;
    position: sticky;
    top: 50%;
    /* transform: translateY(-50%); */
    margin: 0;
}

.step.is-fading-out p {
    /* background-color: goldenrod;
    color: #3b3b3b; */
    position: sticky;
    top: 50%;
    /* transform: translateY(-50%); */
    margin: 0;
}

.step p {
    text-align: center;
    padding: 1rem;
    font-size: 1.5rem;
    background-color: #3b3b3b;
}

.debug-crosshair {
    position: fixed;
    top: 0;
    left: 0;
    opacity: 1;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    /* so it never blocks clicks */
}

.debug-crosshair::before,
.debug-crosshair::after {
    content: "";
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    /* semi-transparent red */
}

/* Vertical line */
.debug-crosshair::before {
    width: 5px;
    height: 100%;
    left: 50%;
    transform: translateX(-0.5px);
}

/* Horizontal line */
.debug-crosshair::after {
    height: 5px;
    width: 100%;
    top: 50%;
    transform: translateY(-0.5px);
}